/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
   
    --title-color: hsl(230, 48%, 85%);
    --text-color: hsl(230, 16%, 70%);
    --border-color: hsl(230, 12%, 18%);
    --body-color: hsl(230, 12%, 8%);
    --container-color: hsl(230, 12%, 12%);

}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header{
    box-shadow: 0 2px  16px hsla(0, 0%, 0%, .4);
}
.dark-theme .nav-menu{
    box-shadow: 0 -8px  32px hsla(0, 0%, 0%, .4);
}
.dark-theme .scrollup{
    box-shadow: 0 2px  8px hsla(0, 0%, 0%, .4);
}

.dark-theme::-webkit-scrollbar{
    background-color: hsla(230, 16%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsla(230, 16%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsla(230, 16%, 35%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }
/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s, background-color .4s;
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
}
.nav-logo i{
    font-size: 1.25rem;
}
/* Navigation for mobile devices */
@media screen and (max-width:1150px ) {
    .nav-menu{
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
        padding: 1.25rem 4rem;
        transition: background-color .4s;
    }
    
}
.nav-list{
    display: flex;
    justify-content: space-between;

}
.nav-link{
    color: var(--text-color);
    transition: color .4s ;
}
.nav-link span{
    display: none;
}
.nav-link i{
    font-size: 1.25rem;
}
.nav-link:hover{
    color: var(--first-color);
}
.nav-actions{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.nav-actions i{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}
.nav-actions  i:hover{
    color: var(--first-color);
}
/* Add shadow header */
.shadow-header{
    box-shadow: 0 2px  16px hsla(0, 0%, 0%, .1);
}

/* Active link */
.active-link{
    color: var(--first-color);
}
/*=============== BUTTON ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.5rem;
    transform: box-shadow .4s;
    align-self: center;
}
.button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);

}  

/* <!--==================== PUBLISH  ====================--> */

.publish-container{
    row-gap: 3.5rem;
}
.publish-data{
    text-align: center;
}
.publish-title{
    margin-bottom: 1rem;
}
.section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
  }
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.public-description{
    margin-bottom: 2rem;
}
.publish-images{
    display: flex;
    justify-content: center;
}
.publish-img-1,
.publish-img-2{
    width: 170px;
}
.publish-img-1{
    transform: translateX(1rem) rotate(-10deg);
}
.publish-img-2{
    transform: translateX(-1rem) rotate(10deg);
}
/* ============================= for authors============= */

/* Add space below the form */
.book-display {
    margin-top: 40px; /* Adds space between form and display area */
    padding: 20px;
    border-top: 1px solid #ccc; /* Optional: Adds a separating line */
}

/* Styling for book details */
.book-details {
    text-align: center;
}

/* Styling for the uploaded cover image */
.book-cover {
    width: 150px; /* Set the width of the uploaded image */
    height: 200px; /* Set the height of the uploaded image */
    object-fit: cover; /* Ensures the image fits nicely within the dimensions */
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Optional: Rounds the corners of the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for a polished look */
}

.heading-rate {
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 500;
  }
  #book-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    max-width: 600px; /* To control form width */
    margin: 0 auto;
    text-align: left; /* Optional: Ensures labels align to the left */
}
  .answer-rate {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 200;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }
  .book-submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .book-submission form {
    display: inline-block;
    text-align: left;
    /* width: 40%; adjust the width as needed */
    margin-top: 20px; /* add some space between the heading and the form */
  }
  
  
  
  
/*=============== FOOTER ===============*/
.footer{
    padding-block: 4rem 6rem;
}
.footer-container{
    row-gap: 3rem;
}
.footer-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-family: var(--second-font);
    margin-bottom: 1.25rem;
}
.footer-logo i{
    font-size: 1.25rem;
}
.footer-data{
    grid-template-columns: repeat(2, max-content);
    gap: 3rem 2rem;
}
.footer-title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}
.footer-links{
    display: grid;
    row-gap: .5rem;
}
.footer-link{
    color: var(--text-color);
    transition: color .4s;
}
.footer-link:hover{
    color: var(--first-color);
}
.footer-info{
    font-style: normal;
}
.footer-social{
     display: flex;
     column-gap: 1.25rem;
}
.footer-social-link{
    font-size: 1.25rem;
    color: var(--first-color);
}
.footer-copy{
    display: block;
    margin-top: 5rem;
    text-align: center;
    font-size: var(--small-font-size);
}


/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    border-radius: .5rem;background-color: hsl(230, 16%, 85%);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    border-radius: .5rem;background-color: hsl(230, 16%, 65%);
}
::-webkit-scrollbar-thumb:hover{
    border-radius: .5rem;background-color: hsl(230, 16%, 55%);
}
/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    /* bottom ko -50% kardoungi tuh hide houjaeiga arrow  */
    bottom: -50%; 
     /* Make it visible by placing it at the bottom */
    /* bottom: 1rem; */
    background-color: var(--container-color);
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
    bottom: 6rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width :320px ){
    .container{
        margin-inline: 1rem;
    }
    .nav-menu{
        padding-inline: 3rem;
    }
    .publish-img-1,
    .publish-img-2{
        width: 140px;

}
    .footer-data{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .feedback-card{
        padding-inline: 1rem;
    }
}
/* For medium devices */
@media screen and (min-width :450px ){
    .favorites-card{
        width: 290px;
    }
    .feedback-card{
        width: 320px;
    }
}


@media (max-width: 480px) {
    .card__title, .card__description {
        font-size: 1rem;
    }

    .button, .card__button {
        font-size: 0.8rem;
    }

    .card__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width :576px ){
    .search-form{
        width: 500px;
        margin-inline: auto;
    }
    .login-form{
        width: 400px;
        justify-self: center;
    }
    .search-close,
    .login-close{
        width: max-content;
        top: 4rem;
        left: 0;
        right: 0;
        margin-inline: auto;
    }
    .nav-menu{
        width: 380px;
        margin-inline: auto;
    }
    .home-container{
        grid-template-columns: 420px;
        justify-content: center;
    }
    .footer-data{
        grid-template-columns: repeat(3, max-content);
    }
}
@media screen and (min-width :768px ){
    .home-container{
        grid-template-columns: 580px;
    }
    .home-data{
        width: 420px;
        justify-content: center;
    }
    .footer-container{
        justify-content: space-between;
        grid-template-columns: repeat(2, max-content);
    }
}
/* For large devices */
@media screen and (min-width :1150px ){
    .section{
        padding-block: 7rem 2rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav-link i{
        display: none;
    }
    .nav-link span{
        display: block;
    }
    .nav-menu{
        width: inherit;
        margin-inline: auto 0;
    }
    .nav-list{
        column-gap: 4rem;
    }
    .nav-link{
        font-weight: var(--font-medium);
    }
    .dark-theme .nav-menu{
        box-shadow: none;
    }
    .home-data{
        width: initial;
    }
    .favorites-container{
        padding-top: 2rem;
    }
    .favorites-title{
        font-size: var(--h3-font-size);
    }
    .feedback-container{
        padding-top: 2rem;
    }
    .feedback-card{
        padding-inline: 2rem;
    }
    .feedbaack-title{
        font-size: var(--h3-font-size);
    }
    .feedback-description{
        font-size: var(--normal-font-size); 
    }
    .footer{
        padding-block: 6rem 3rem;
    }
    .footer-data{
        grid-template-columns: repeat(4, max-content);
        column-gap: 4.5rem;
    }
    .footer-logo,
    .footer-title{
        font-size: var(--h2-font-size);
        margin-bottom: 1.5rem;
    }
    .footer-links{
        row-gap: 1rem;
    }.footer-social{
        column-gap: 1.5rem;
    }
    .footer-social-link{
        font-size: 1.5rem;
    }
    .footer-copy{
        margin-top: 7.5rem;
    }
    .scrollup{
        right: 3rem;
    }
    .show-scroll{
        bottom: 3rem;
    }
}
@media screen and (min-width :1220px ){
    .container{
        margin-inline: auto;
    }
    .home-container{
        grid-template-columns: 435px 745px;
        align-items: center;
        padding-block: 7rem 2rem;
    }
    .home-data{
        text-align: initial;
    }
    .home-description{
        margin-bottom: 4rem;
    }
    .home-article,
    .home-image{
        width: 290x;
    }

}
/* ========================== AUTHOR ====================================== */
.container-author {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
     /* height: 100vh; */
   /* Instead of setting height, you can use padding or min-height */
   padding: 2rem 0;
  }
/* - card with descriptionl */
.card__container {
    display: grid;
    row-gap: 3.5rem;
    padding-top: 3rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/

  /* For small devices */

@media screen and (max-width :320px ){
    .container{
        margin-inline: 1rem;
    }
    .nav-menu{
        padding-inline: 3rem;
    }
    .publish-img-1,
    .publish-img-2{
        width: 140px;
    }
    
    .footer-data{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    
}
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  /* @media (max-width: 480px) {
    .card__title, .card__description {
        font-size: 1rem;
    }

    .button, .card__button {
        font-size: 0.8rem;
    }
} */
  
  @media screen and (min-width :576px ){
    .nav-menu{
        width: 380px;
        margin-inline: auto;
    }
    
    .publish-container{
        grid-template-columns: 420px;
        justify-content: center;
    }
    .footer-data{
        grid-template-columns: repeat(3, max-content);
    }
}
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
    .book-submission form {
        width: 100%;
        padding: 0 10px;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .card__title, .card__description {
        font-size: 1.2rem;
    }
    .button, .card__button {
        font-size: 0.9rem;
    }
    .footer-container{
        justify-content: space-between;
        grid-template-columns: repeat(2, max-content);
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }
  /* * For large devices  */
  @media screen and (min-width :1150px ){
      .section{
          padding-block: 7rem 2rem;
      }
      .nav{
          height: calc(var(--header-height) + 2rem);
          column-gap: 4rem;
      }
      .nav-link i{
          display: none;
      }
      .nav-link span{
          display: block;
      }
      .nav-menu{
          width: inherit;
          margin-inline: auto 0;
      }
      .nav-list{
          column-gap: 4rem;
      }
      .nav-link{
          font-weight: var(--font-medium);
      }
      .dark-theme .nav-menu{
          box-shadow: none;
      }
      
      .publish-container{
          grid-template-columns: 615px 500px;
          justify-content: space-between;
          align-items: center;
      }
      .publish-data{
          order: 1;
      }
      .publish-data,
      .publish-title{
          text-align: initial;
      }
      .publish-description{
          margin-bottom: 3.5rem;
      }
      .publish-img-1,
      .publish-img-2{
          width: 300px;
      }
      .footer{
          padding-block: 6rem 3rem;
      }
      .footer-data{
          grid-template-columns: repeat(4, max-content);
          column-gap: 4.5rem;
      }
      .footer-logo,
      .footer-title{
          font-size: var(--h2-font-size);
          margin-bottom: 1.5rem;
      }
      .footer-links{
          row-gap: 1rem;
      }.footer-social{
          column-gap: 1.5rem;
      }
      .footer-social-link{
          font-size: 1.5rem;
      }
      .footer-copy{
          margin-top: 7.5rem;
      }
      .scrollup{
          right: 3rem;
      }
      .show-scroll{
          bottom: 3rem;
      }
  }

  @media screen and (min-width :1220px ){
    .container{
        margin-inline: auto;
    }

}